{% extends 'admin/main_nav.html' %}

{% load static %}

{% block admin %}
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Navbar collée en haut -->
    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar" style="top: 0">
      <!-- Votre contenu de navbar existant -->
    </nav>

    <!-- Contenu principal -->
    <div class="layout-page" style="padding-top: 0">
      <!-- Votre contenu -->
      <div class="text" style="margin-left:23%; margin-top:2rem;">
        <p>Welcome<br>
        {{ user.first_name }} {{ user.last_name }}</p>
      </div>

      <div class="shape-container" style="margin-left:60%; margin-top:2rem">
        <img class='blob' src="{% static 'image/logoo.jpg' %}">
      </div>
    </div>
  </div>
</div>

<!-- Vos scripts JS -->
{% endblock %}