*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
body{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(253, 253, 253);
}
.wrapper {
    width: 420px;
    background: transparent;
    color: rgb(26, 22, 24);
    border-radius: 10px;
    padding: 25px 40px;
    }
.wrapper h4{
        color: #343a40;
        font-size: 36px;
        text-align: center;
        margin-bottom:-18px;
        margin-top:5px;
}
.wrapper .input-box{
        position: relative;
        width: 100%;
        height: 30px;
        margin: 39px 0;
    
    }

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline-offset: none;
    border: 2px solid #D19C97;
    border-radius: 40px;
    font-size: 16px;
    color: #D19C97;
    padding: 20px 45px 20px 47px;
}
.input-box input::placeholder{
    color: #D19C97;
}
.input-box i{
    position: absolute;
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #D19C97;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    color: #333;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-top:17px;

}

/*.error{
    margin-top:10px;
    margin-left:20px;
    margin-bottom:-10px;
    color:red;
    position:relative;
}*/
.error{
    color:red;
    position: relative;
    margin-left:25px;
    top: 5px;
}