<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=supervised_user_circle" />
        <!-- Menu -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="height: 100vh; background-color: white;">

          <div class="app-brand demo">
            <a href="/index" class="app-brand-link">
    <h1 class="m-0 display-5 font-weight-semi-bold" style="color:#2471a3 ">
        <span class="font-weight-bold" style="color:black">Smart</span>Vision
    </h1>
</a>



            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1" style="list-style-type:none;margin-top:20px;">
            {% if user.is_authenticated and user.role == 'ADMIN' %}
              <li class="menu-header small text-uppercase"><span class="menu-header-text">Come Back Home</span></li>

               <li class="menu-item">
                  <a href="{%url 'admin_main' %}" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-home-circle"></i>
                      <div data-i18n="Analytics">Home</div>
                  </a>
              </li>
              <!-- superviseur-->
              <li class="menu-header small text-uppercase"><span class="menu-header-text">Gestion Des Superviseurs</span></li>
               <li class="menu-item">
                  <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <span class="material-symbols-outlined">supervised_user_circle</span>
                    <div data-i18n="Sous Admin">&nbsp;&nbsp;Superviseurs </div>
                  </a>
                   <ul class="menu-sub" style="list-style-type:none;">
                     <li class="menu-item">
                          <a href="{%url 'creer_superviseur' %}" class="menu-link">
                              <div data-i18n="Analytics">&nbsp;&nbsp;creer superviseur</div>
                          </a>
                         <a href="{%url 'liste_superviseurs' %}" class="menu-link">
                              <div data-i18n="Analytics">&nbsp;&nbsp;liste_superviseurs</div>
                          </a>
                     </li>
                   </ul>
               </li>

      <!-- agents -->
              <li class="menu-header small text-uppercase"><span class="menu-header-text">Gestion Des Agents </span></li>
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="material-symbols-outlined">support_agent</span>
                <div data-i18n="category">&nbsp;&nbsp;Agents</div>
              </a>
               <ul class="menu-sub">
                  <li class="menu-item">
                      <a href="{%url 'creer_agent' %}" class="menu-link">
                          <div data-i18n="Analytics">&nbsp;&nbsp;Creer Agent</div>
                      </a>
                  </li>
                 <li class="menu-item">
                      <a href="{%url 'liste_agents' %}" class="menu-link">
                          <div data-i18n="Analytics">&nbsp;&nbsp;liste_agents</div>
                      </a>
                 </li>

               </ul>
            </li>




            {% elif user.is_authenticated and user.role == 'admin-Technique' %}
              <li class="menu-header small text-uppercase"><span class="menu-header-text">Come Back Home</span></li>

               <li class="menu-item">
                  <a href="" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-home-circle"></i>
                      <div data-i18n="Analytics">Home</div>
                  </a>
              </li>
            <!-- User interface -->
              <li class="menu-header small text-uppercase">
                  <span class="menu-header-text">Gestion Of Sales Manager</span></li>
               <li class="menu-item">
                  <a href="{% url 'supprimer_superviseur' %}" class="menu-link">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <div data-i18n="Sous Admin">&nbsp;&nbsp;Sales Manager</div>
                  </a>
               </li>

              <li class="menu-item">
                  <a href="" class="menu-link">
                    <span class="material-symbols-outlined"></span>
                    <div data-i18n="Sous Admin">&nbsp;&nbsp;List Sales Manager</div>
                  </a>
               </li>


                <li class="menu-header small text-uppercase"><span class="menu-header-text">Gestion Of Delivery Person</span></li>
              <li class="menu-item">
                  <a href= ""class="menu-link">
                    <span class="material-symbols-outlined">local_shipping</span>
                    <div data-i18n="category">&nbsp;&nbsp;Delivery Person</div>
                  </a>
              </li>
              <li class="menu-item">
                  <a href= ""class="menu-link">

                    <div data-i18n="category">&nbsp;list Delivery </div>
                  </a>
              </li>

               <li class="menu-header small text-uppercase"><span class="menu-header-text">list Client </span></li>
               <li class="menu-item">
                  <a href=""class="menu-link">
                    <span class="material-symbols-outlined">orders</span>
                    <div data-i18n="Sous Admin">&nbsp;&nbsp;Classified client list</div>
                  </a>

               </li>
              {% else %}
              <li class="menu-header small text-uppercase"><span class="menu-header-text">Come Back Home</span></li>

               <li class="menu-item">
                  <a href="/admin_home" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-home-circle"></i>
                      <div data-i18n="Analytics">Home</div>
                  </a>
              </li>
              <li class="menu-header small text-uppercase"><span class="menu-header-text">Gestion Of Orders</span></li>
               <li class="menu-item">
                  <a href="" class="menu-link">
                    <span class="material-symbols-outlined">orders</span>
                    <div data-i18n="Sous Admin">&nbsp;&nbsp;Orders To Ship</div>
                  </a>

               </li>

              {% endif %}





          </ul>
        </aside>