.total-div{
    margin-top: -50px;
}
.border-thanks{
    border-style: dotted;
    border-color:green;
    color:green;
    padding: 30px;
    width: 70%;
    text-align: center;
}

.order-items{
    width: 70%;
    text-align: center;

}
th,td {
 border-right:1px solid black;
 text-align:center;
 padding:10px;
}

.last_td{
	border-right:none;
}