<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WebSocket Test</title>
  </head>
  <body>
    <h1>WebSocket Test</h1>
    <button onclick="sendMessage()">Envoyer message</button>
    <script>
      const socket = new WebSocket("ws://localhost:8000/ws/test/");

      socket.onopen = function (e) {
        console.log("Connexion WebSocket ouverte");
      };

      socket.onmessage = function (e) {
        console.log("Message du serveur:", e.data);
        alert("Serveur: " + e.data);
      };

      socket.onclose = function (e) {
        console.log("Connexion WebSocket fermée");
      };

      function sendMessage() {
        socket.send(
          JSON.stringify({
            message: "Bonjour serveur !",
          })
        );
      }
    </script>
  </body>
</html>
