{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>ISGB Polygon Restriction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS local -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Leaflet & Leaflet.draw CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css"
    />

    <!-- Toastify CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <body>
    <!-- Header -->
    <div id="map-header">
      <div id="map-title">ISGB Polygon Restriction</div>
    </div>

    <!-- Map -->
    <div id="map"></div>

    <!-- Légende -->
    <div id="legend">
      <h4
        style="
          margin-top: 0;
          border-bottom: 1px solid #ddd;
          padding-bottom: 8px;
        "
      >
        Légende
      </h4>
       <div class="legend-item">
    <div class="legend-color" style="background-color: rgba(0, 0, 255, 0.3); border: 2px solid blue;"></div>
    <span>Zone ISGB (périmètre officiel)</span>
  </div>

  <!-- Départements dessinés -->
  <div class="legend-item">
    <div class="legend-color" style="background-color: rgba(255, 120, 0, 0.4); border: 2px solid #ff7800;"></div>
    <span>Départements dessinés</span>
  </div>

    <!-- JS Libraries -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>

    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- JS local -->
    <script src="{% static 'js/map.js' %}"></script>
  </body>
</html>
